
body{
   background-image: url(https://i.pinimg.com/736x/69/02/c2/6902c2fa762eb074679073fe64e1e5f3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(216, 116, 225); */
}
header{
   background-color: rgb(0, 53, 122);
   
   
}
.quiz__title{
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: 100px;
}
.container{
   background-color:azure;
   display: grid;
   border: 2px solid black;
   border-radius: 5%;
   width: 400px;
   height: 400px;
   align-items: center;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 2%;
   margin-top: 8%;
   
}
h2{
   text-align: center;
   color: darkblue;
}
input{
   position: relative;
   left: 2%;
   height: 50%;
  width: 50%;
}
#gender{
  height: 50%;
  width: 50%;
}
#suivant__button{
   position: relative;
   top: 30%;
   left: 80%;
   background-color: rgb(166, 225, 255);
   border-radius: 10%;
   height: 60%;
   width: 20%;
}
.title__quiz{
   position: relative;
   

   text-align: center;
}
.quistion{
   text-align: center;
   background-color: gainsboro;
}
.answers{
   display: grid;
   grid-template-columns: repeat(4,auto);
   grid-template-rows: repeat(1,auto);
    gap: 2%;
    
   
  
}
#answer__1,#answer__2,#answer__3,#answer__4{
   cursor: pointer;
 display: grid;
border-radius: 6%;
justify-content: space-between;
border: 3px solid black;
text-align: center;
background-color: rgb(255, 255, 255);
height: 120px;

padding-left: 30%;
padding-top: 20%;


}
.suivant__btton{
   cursor: pointer;
   position: relative;
   left: 90%;
   background-color: aquamarine;
   border-radius: 10%;
   margin-top: 10%;
   height: 3rem;
   width: 5rem;
}
svg{
 
   height: 2rem;
   width: 2rem;
   background-color: rgb(153, 153, 153);
  
}


/* image{
   color: rgb(43, 43, 43);
} */

@media(max-width:430){
   .answers{
   display: grid;
   grid-template-columns: repeat(1,auto);
   grid-template-rows: repeat(4,auto);
   
    gap: 2%;
    
   
  
}

#answer__1,#answer__2,#answer__3,#answer__4{
   cursor: pointer;
 display: grid;
border-radius: 6%;
justify-content: space-between;
border: 3px solid black;
text-align: center;
background-color: rgb(255, 255, 255);
height: 90px;

padding-left: 30%;
padding-top: 20%;


}
svg{
 
   height: 1rem;
   width: 1rem;
   background-color: rgb(153, 153, 153);
  
}
}
